body {
  margin: 0;
  padding: 40px 20px;
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
}

.timeCheck,
.bookingForm,
.faqSection {
  background-color: #fff;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  margin-bottom: 30px;
}

.timeCheck h3,
.bookingForm h3,
.faqSection h2 {
  margin-top: 0;
}

.bookingForm {
  background: white;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 40px;
}

.bookingForm input,
.bookingForm select {
  padding: 8px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.faqSection {
  background: white;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

details {
  margin-top: 10px;
}

summary {
  font-weight: bold;
  cursor: pointer;
}